        </div> <!-- Closing Container Div -->
        <!-- jQuery -->
		<script
		src="/scripts/jquery-3.1.1.min.js"></script>
        <!-- Bootstrap JS -->
		<script src="/scripts/bootstrap.min.js" ></script>
    </body>
</html>