<% include ../partials/header.ejs %>

    <header class="jumbotron text-center" id="myMainJumbotron">
        <h1>Lightbulb <i class="far fa-lightbulb"></i></h1>
        <p> Share your best ideas with the world</p>
        <a href="/ideas/new" class="btn btn-lg" id="myMainButton">Share an Idea</a>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap"> 

        <% ideas.forEach(function(idea){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="/ideas/<%= idea.id %>">
                        <img src="<%= idea.imagePath %>" class="indexIdeaImg">
                        <div class="caption">
                            <h4> <%= idea.name %> </h4>
                            <br>                         
                            <p class="text-left" style="margin: 0">
                                <em>by: Anderson </em>
                                <span style="float:right;"> 5 <i class="far fa-lightbulb"></i> </span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>

        <% }); %>
    
    </div>

<% include ../partials/footer.ejs %>