::placeholder {
    color: #efdab9 !important;
    opacity: 0.6;
}

li a {
    color: #efdab9 !important;
}

a.navbar-brand {
    color: #efdab9 !important;
}

nav {
    background-color: #574b4f !important; 
    border: none !important;
}

i.fa-lightbulb {
    color:#FFCC00;
}

body {
    font-family: 'Open Sans', sans-serif; 
    color: #efdab9;
    background-color: #343233;
}

div.thumbnail {
    padding: 0;
    border: none; 
    border-radius: 5px; 
    background-color: #574b4f;
}

div.thumbnail div.caption {
    color: #efdab9;
}

#myMainButton {
    background-color: #FFCC00; 
    border: none; 
    color:  #574b4f
}

#myMainJumbotron {
    background-color: #574b4f;
}

.formInput {
    color: #efdab9 !important;
    background-color: #343233;
    border-color: #574b4f
}

.submitButton {
    background-color: #efdab9; 
    color: #343233;
    border: none
}

#newCommentButton {
    background-color: #574b4f;
    color: #efdab9;
    border: none
}

#burgerButton {
    border-color: #efdab9;
}

.indexIdeaImg {
    width: 100%;
    border-radius: 5px 5px 0  0; 
    max-height: 300px
}

#showIdeaImg {
    width: 100%; 
    border-radius: 5px 5px 0  0
}

#commentsLine{
   border-top: 1px solid #574b4f
}

.headline {
    display: inline-block;
}

.form-control:focus { 
    border-color: #efdab9;  
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(239, 218, 185, 0.6); 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(239, 218, 185, 0.6);
}